<header class="header">
	<div class="header-container">
    <div class="profile-picture">
      <img src="/images/profile.jpg" />
    </div>
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">blog</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/index.html">blog</a>
				</li>
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category.html">categories</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/category.html">categories</a>
				</li>
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">About</a>
				</li>
			</span>
			{% else %}
				<li>
					<a href="/about.html">About</a>
				</li>
			{% endif %}
      <span class="title">
				<li>
					<a href="/talks.html">Talks</a>
				</li>
			</span>
		</div>
		<div class="description"> {{ site.motto }} </div>
		<ul class="social-links">
			<li>
				<a href="/feed.xml" title="RSS">
					<i class="fa fa-rss-square" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
					<i class="fa fa-twitter-square" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/monicadbulgari" title="Facebook">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				
				<a href="https://br.linkedin.com/in/monicabulgari" title="Linkedin">
					<i class="fa fa-linkedin-square" aria-hidden="true"></i>
				</a>
			</li>
			<li>
		</ul>
	</div>
</header>
