<div class="timeline">
  <!-- Init code Huggy.chat  //-->
    <script>var $_Huggy = { defaultCountry: '+55', widget_id: '24018', company: '18626' }; (function(i,s,o,g,r,a,m){ i[r]={context:{id:'e642b64eb609d18c82340eda89a78c51'}};a=o;o=s.createElement(o); o.async=1;o.src=g;m=s.getElementsByTagName(a)[0];m.parentNode.insertBefore(o,m); })(window,document,'script','https://js.huggy.chat/widget.min.js','pwz');</script><!-- End code Huggy.chat  //-->

  (function(i,s,o,g,r,a,m){ i[r]={context:{id:'e642b64eb609d18c82340eda89a78c51'}};a=o;o=s.createElement(o); o.async=1;o.src=g;m=s.getElementsByTagName(a)[0];m.parentNode.insertBefore(o,m); })(window,document,'script','https://js.huggy.chat/widget.min.js','pwz');
  </script><!-- End code Huggy.chat  //-->
  
  <h3>Carreira</h3>

  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-work">
        <i class="fa fa-flag"></i>
      </div>
      <div class="cd-timeline-content">
        <h2> Marcas com SAL </h2>
        <strong> Estrategista Jr </strong>
        <p><i class="fa fa-map-marker"></i> São Paulo / SP</p>
        <p>
         Atuo no estudo de Branding e posicionamento de marcas como Grupo Zap Viva Real, Alelo, Duratex e outras. Dentre minhas responsabilidaes estão desenvolver territórios, paustas por público, planos de lançamento e estratégias voltadas à comunicação de marcas.
          </p>
        <span class="cd-date">Mar 2018 - Atualmente</span>
      </div> 
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-work">
        <i class="fa fa-flag"></i>
      </div>
      <div class="cd-timeline-content">
        <h2> Agência Xará </h2>
        <strong>Community Manager</strong>
        <p><i class="fa fa-map-marker"></i> São Paulo / SP</p>
        <p>
         Gerente de Redes Sociais das contas Hueb (joalheria), StyleMarket e FreakMarket. Atuou no planejamento de conteúdo, produção de relatórios, atendimento a cliente e Growth das redes sociais. 
          </p>
        <span class="cd-date">Out 2017 - Dez 2017</span>
      </div> 
    </div>
    
        <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-course">
        <i class="fa fa-line-chart"></i>
      </div> 
      <div class="cd-timeline-content">
        <h2> Curso: Planejamento e Produção de Conteúdo </h2>
        <strong> Ian Black </strong>
        <p> Como elaborar pautas e um planejamento de conteúdo assertivo, que alcance o objetivo da marca - seja ele posiconamento, aumento em performance ou vendas. Estratégias de elaboração de peças criativas e peculiaridades de cada canal de comunicação digital.
        </p>
       
        <span class="cd-date"> Dez - 2017</span>
      </div> 
    </div> 
               
              
     <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-talk">
        <i class="fa fa-volume-up"></i>
      </div> 

      <div class="cd-timeline-content">
        <h2> RD Summit 2017 </h2>
        <img src="monicabulgari.github.io/static/img/rdsummitpic01.jpg">
        <p>
          Fui uma das 150 palestrantes do <a href="http://rdsummit.com.br/">RD Summit</a>, o maior evento de Marketing Digital da América Latina, promovido pela Resultados Digitais. Falei na trilha de conteúdo, sobre como lidar com questões de Gênero em Conteúdo e nas Redes Sociais. O material da palestra pode ser consultado <a href="https://pt.slideshare.net/MnicaBulgari/rd-summit-2017-diversidade-de-gnero-como-no-cometer-gafes-em-contedo-e-redes-sociais">aqui</a>
        </p>
        <span class="cd-date">Out 2017</span>
      </div> 
    </div>
    
      
         <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-book"></i>
        </div> 

      <div class="cd-timeline-content">
        <h2> Funeel Marketing B2B </h2>
        <strong>Redatora / Gerente de Contas</strong>
        <p><i class="fa fa-map-marker"></i> São Paulo / SP</p>
        <p>
          A Funeel começou como um time de Marketing especialiazado em B2B, criado em março de 2016, e atualmente atua como consultoria de produto. Entrei para a equipe praticamente em seu início, em outubro do mesmo ano, como redatora. Atuei como Gerente de Contas de clientes como Cubo (Itaú) e Porto Seguro. Fui responsável pela criação e planejamento de conteúdo digital; implementação da estratégia de SEO e definição do tom de voz, linguagem e posicionamento de marca destes clientes. Também produzi conteúdo específico para marketing digital B2B e traduzi do inglês textos sobre Account Based Marketing. Fui uma das editoras responsáveis pela manutenção do canal Beta Culture, em que compartilhamos materiais sobre Marketing B2B. 
          </p>
        <span class="cd-date">Out 2016 - Out 2017</span>
      </div> 
    </div> 
    
     <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-talk">
        <i class="fa fa-volume-up"></i>
      </div> 

      <div class="cd-timeline-content">
        <h2> Social Media Week 2017 - Copywriting para Mídias Digitais </h2>
        <img src="monicabulgari.github.io/static/img/socialmediaweekpic01.jpg">
        <p>
          No meu segundo ano palestrando no Social Media Week São Paulo, falei sobre os processos de aprendizado e desenvolvimento de habilidades que estão envolvidos na formação de um Copywriter para Mídias Digitais. A palestra foi transmitida pelo streaming do SMWSP e está disponível <a href="https://www.youtube.com/watch?v=qfhnpIrzWv4">aqui </a>. 
        </p>
        <span class="cd-date">Set 2016</span>
      </div> 
    </div>
    
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-course">
        <i class="fa fa-line-chart"></i>
      </div> 
      <div class="cd-timeline-content">
        <h2> Curso: Monitoramento e Métricas em Mídias Sociais</h2>
        <strong> Atlas Media Web</strong>
        <p> Principais conceitos, ferramentas e metodologias de monitoramento nas mídias sociais, com Gabriel Ishida, da Vert.
        </p>
       
        <span class="cd-date">Ago - 2017</span>
      </div> 
    </div> 

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-course">
        <i class="fa fa-book"></i>
      </div> 
      <div class="cd-timeline-content">
        <h2> Curso: Mestre SEO </h2>
        <p> Curso completo sobre técnicas, linguagens e práticas avançadas de SEO</p>
        <span class="cd-date">Ago 2017</span>
      </div> 
    </div> 

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-book"></i>
        </div> 
        <div class="cd-timeline-content">
          <h2> Curso: Copywriting Secrets: How to Write Copy that Sells</h2>
          <p>
            Principais metodologias de redação publicitária aplicadas nos formatos digitais. Abordagens persuasivas em emails marketing, anúncios e artigos online. 
          </p>
          <span class="cd-date">Abr 2017</span>
        </div> 
      </div> 

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-book"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Secretaria da Cultura do Município de São Paulo </h2>
          <p> 
            <strong>Revisora e Tradutora</strong>
            <img src="monicabulgari.github.io/static/img/livrocmc02.jpg">
          <p>Fui a responsável pela revisão do conteúdo em língua portuguesa e inglesa do livro "Centro de Memória do Circo", da instituição de mesmo nome. Também auxiliei algumas etapas do processo de tradução. O livro reúne a história e o catálogo do Centro de Memória do Circo, uma instituição fundada para preservar o legado cultural do circo brasileiro. 
          </p>
          <span class="cd-date">Nov 2016 - Mai 2017</span>
        </div> 
      </div> 

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-work">
        <i class="fa fa-university"></i>
      </div> 

      <div class="cd-timeline-content">
        <h2> Prefeitura Municipal de São Paulo </h2>
        <p> 
          <strong>Social Media</strong>
          <p><i class="fa fa-map-marker"></i> São Paulo / SP</p>
          <img src="monicabulgari.github.io/static/img/prefeituralogo.png">   
        <p>
          Fiz parte da equipe que administrava e produzia conteúdos para as páginas de redes sociais da Prefeitura de São Paulo na gestão Fernando Haddad. Realizava coberturas de eventos culturais (como Virada Cultural, aniversário da cidade e Parada Gay) e institucionais (como a cobertura de coletivas de imprensa e assinaturas de decretos) pelo Twitter. Eu também realizava o atendimento a munícipes por inbox: orientava e encaminhava as demandas para os respectivos órgãos públicos. A gestão Haddad que criou a página da Prefeitura no Facebook e Twitter.
        </p>
        <span class="cd-date">Dez 2015 - Out 2016</span>
      </div> 
    </div> 

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-graduation-cap"></i>
        </div> 
        <div class="cd-timeline-content">
          <h2> Mestrado em Linguística - UNICAMP (Interrompido) </h2>
                     <p>
            <img src="monicabulgari.github.io/static/img/unicamplogo.jpg">
          </p>
          <p>
            Fui pesquisadora da linha de Análise do Discurso dentro do Instituto de Estudos da Linguagem da Unicamp durante dois anos. Meu objeto de pesquisa era o discurso da sexualidade nas tirinhas da cartunista Larte. Levei meu trabalho para importantes eventos da área, como o Congresso Desfazendo Gênero, em 2015, e o Seminário de Pesquisa em História em Quadinhos, da Unifesp. Ao mesmo tempo, minha carreira profissional estava tomando outro rumo, focado na comunicação digital, por isso optei por trancar o curso neste momento.
          </p>
          <span class="cd-date">Fev 2015 - Mai 2017</span>
        </div> 
      </div> 

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-talk">
        <i class="fa fa-comments-o"></i>
      </div> 

      <div class="cd-timeline-content">
        <h2> Mediação da Mesa “Estigmas e Libertação: Violência contra a mulher, representação e empoderamento" - 1ª Mostra Mulheres e Cinema </h2>
        <p><i class="fa fa-map-marker"></i> Memorial da América Latina</p>
       <img src="monicabulgari.github.io/static/img/mulheresecinemamediacao01.jpg">
        <p>
          A convite da amiga Tarsila Nakamura, mediei o debate que contou com as documentaristas Lívia Perez (“Quem Matou Eloá”), Tarsila Nakamura (Atadas), Juily Manghirmalani (Viver de Mim) e as ativistas Camila Caringe e Marina Ganzarolli. Após a exibição dos documentários, discutimos sobre estereótipos, a culpabilização da mulher, a lei da violência doméstica e o papel da mídia neste cenário.O pessoal do Jornalismo Junior da ECA - USP cobriu o evento: veja <a href="http://jornalismojunior.com.br/sala33/resistir-com-arte-violencia-domestica-e-estigmatizacao/">aqui</a></p>
        <span class="cd-date">Ago 2016</span>
      </div> 
    </div> 

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-talk">
        <i class="fa fa-volume-up"></i>
      </div> 

      <div class="cd-timeline-content">
        <h2> Social Media Week 2016 - Como não cometer Gafes sobre Gênero e Feminismo nas Redes Sociais </h2>
       <img src="monicabulgari.github.io/static/img/smw1603.jpg">
        <p>
          A ascensão da discussão sobre feminismo fez surgir uma preocupação da comunicação de marcas e personalidades no mundo digital. Selecionei casos, comentei posicionamentos e sugeri conselhos para mensagens assertivas em relação a esse assunto. O conteúdo foi muito bem recebido. <a href="http://monicabulgari.com//social-media-week-2016.html"> Aqui </a> eu conto tudo como foi aquele dia. 
        </p>
        <span class="cd-date">Set 2016</span>
      </div> 
    </div>
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-trophy"></i>
        </div> 
        
        <div class="cd-timeline-content">
          <h2> Certificação Hubspot Inbound Marketing </h2>
          <p>
            A certificação de Inbound Marketing mais reconhecida do mercado. O curso me forneceu uma base importante nas principais noções de aplicabilidade da principal metodologia para atrair, converter e nutrir leads.
            <span class="cd-date"> Nov 2015</span>
        </div> 
   
    </div> 
         <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-trophy"></i>
        </div> 
        
        <div class="cd-timeline-content">
            <h2> Certificação em Marketing de Conteúdo da Rock Content </h2>
          <p>
            A Rock Content é uma das principais referências em produção de conteúdo inbound do Brasil.
        </p>
            <span class="cd-date"> Nov 2015</span>
        </div> 
       </div> 
  
 
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-book"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Wise Up </h2>
          <strong>Professora de Inglês para todos os níveis</strong>
          <img src="monicabulgari.github.io/static/img/wiseup.png"> 
          <p>
            Fui professora em tempo integral da Wise Up Barão Geraldo, uma escola de inglês para adultos com método blended learning - que mescla o aprendizado na sala de aula com exercícios e tutoria online.  
          </p>
          <span class="cd-date">Out 2014 - Out 2015</span>
        </div> 
      </div> 
  
    
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-book"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Editora Saraiva </h2>
          <strong>Produtora de Conteúdo Freelancer</strong>
          <img src="monicabulgari.github.io/static/img/saraivatrue.png">
          <p>
            Produzi conteúdos de Ciências Humanas (História, Sociologia, Política, Filosofia) para materiais didáticos de vários cursos EAD. 
          </p>
          <span class="cd-date">Dez 2014 - Mai 2015</span>
        </div> 
      </div> 
    
       
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-talk">
          <i class="fa fa-volume-up"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Centro de Referência em Assistência Social de Serra Negra </h2>
         <img src="monicabulgari.github.io/static/img/palestraserranegra.jpg"> 
          <strong>Palestrante Voluntária</strong>
          <p>
            A convite do amigo Renan, realizei uma conversa com as mulheres e famílias carentes que são atendidas pelo Centro de Referência em Assistência Social de Serra Negra. Trouxe dados sobre esse tipo de violência no país e também pontuei os diferentes tipos de agressões, além da física. Foi muito proveitoso trocar experiências e conhecimentos com essas pessoas.          
          </p>
          <span class="cd-date">Mar- 2015</span>
        </div> 
      </div> 
    
          
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-talk">
          <i class="fa fa-volume-up"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> 1º Encontro LGBT de Amparo </h2>
          <strong>Palestrante Voluntária</strong>
           <img src="monicabulgari.github.io/static/img/encontrolgbtamparo.jpg">
          <p>
      Falei sobre como é viver sendo LGBT em uma cidade do interior, a convite de amigos.
          </p>
          <span class="cd-date">Set- 2015</span>
        </div> 
      </div> 
    
       <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-book"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Elektro </h2>
          <strong>Instrutora de Língua Portuguesa e Informática Básica</strong>
           <p>
          Fui instrutora de uma das turmas do projeto Escola Inclusiva da Elektro. O projeto, com início em 2009, visa a capacitação de pessoas com deficiência (PCDs) da região de Campinas e pessoas carentes dos bairros do entorno da Sede Corporativa da Elektro. Foi uma oportunidade muito gratificante na qual pude colaborar para o aprimoramento profissional de pessoas que geralmente são marginalizadas pelo mercado de trabalho. Aprendi muito neste período.           </p>
          <span class="cd-date">Set- 2015</span>
        </div> 
      </div> 
    
    
          <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-book"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Centro de Pesquisa, Desenvolvimento e Educação Continuada - CPDEC </h2>
          <strong>Social Media</strong>
           <p>
             <img src="monicabulgari.github.io/static/img/logocpdec.jpg">
          </p>
          <p>
      Como estagiária, produzia artigos sobre comportamento e conhecimentos corporativos para o site e ainda geria as redes sociais da empresa. Era responsável pelas atualizações do site e também dava apoio multimídia na realização da gravação de cursos in company.
          </p>
          <span class="cd-date">Fev 2013 -Jul 2014</span>
        </div> 
      </div> 
    
           <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-graduation-cap"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Universidade Estadual de Campinas</h2>
          <strong> Bacharelado em Ciências Sociais</strong>
          <p>
            <img src="monicabulgari.github.io/static/img/unicamplogo.jpg">
          </p>
          <p>
          Depois de alguns anos na Unicamp estudando Antropologia, Ciências Políticas, Sociologia e explorando terrenos como Linguística e Artes, conquisto meu segundo diploma de graduação. Este curso foi fundamental para o desenvolvimento de minhas habilidades analíticas: foi durante estes anos que desenvolvi meu senso crítico e minha capacidade de resolver problemas.          
          </p>
          <span class="cd-date"> Fev 2008 / Jan 2013</span>
        </div> 
      </div> 
    
           <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-graduation-cap"></i>
        </div>   
        <div class="cd-timeline-content">
          <h2> Faculdades de Campinas - Facamp</h2>
          <strong> Bacharelado em Jornalismo Multimídia</strong>
          <img src="monicabulgari.github.io/static/img/logofacamp.png">
          <p>
A Facamp me forneceu uma grande bagagem teórica e principalmente prática em disciplinas focadas ao webjornalismo. Além da técnica jornalística, pude aprender conceitos básicos de linguagens de programação importantes para as plataformas digitais, como HTML e CSS. Conquistei o bacharelado com especialização em Jornalismo Literário e História da Arte. Meu TCC foi sobre a obra do fotógrafo Miguel Rio Branco.
          </p>
          <span class="cd-date"> Fev 2010 - Dez 2012</span>
        </div> 
      </div>  
    
         <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-graduation-cap"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Faculdades de Campinas - Facamp</h2>
          <strong> Bacharelado em Relações Internacionais</strong>
             <p>
           <img src="monicabulgari.github.io/static/img/logofacamp.png">
             </p>
             <p>
          Com o objetivo de prestar a prova para o Instituto Rio Branco e me tornar uma diplomata, cursei quatro períodos de Relações Internacionais. O estudo do Estado, da sociedade e do sistema político mundial continuaram a me interessar, mas surgiu o anseio em desenvolver minhas habilidades na área de Comunicação, e em 2010 realizei a transferência de curso. Durante o período em RI, cheguei a participar do VI Congresso da Defesa Nacional, onde eu e outros colegas apresentamos um artigo na Academia da Força Aérea, em Pirassununga, e em duas edições do Americas Model United Nations (AMUN), o modelo da ONU da Universidade de Brasília. Também fui Diretora Executiva do Centro Institucional dos Estudantes de RI e promovi e participei do curso de Diplomacia Coporativa.     
         </p>
          <span class="cd-date"> Fev 2008 - Dez 2009 (interrompido) </span>
        </div> 
      </div>  
    
    
           <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-eye"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Curso: History of Looking - Unicamp </h2>
          <strong> com o PhD Neville Rowey, do MoMA </strong>
           <p>
        O Prof. Neville ministrou este curso especial no Instituto de Filosofia e Ciências Humanas da Unicamp. Discutimos a análise das formas de olhar e perceber através das principais obras de arte da história.          
            </p>
          <span class="cd-date"> Mar 2012 - Mai 2012 </span>
        </div> 
      </div>  
             
             
       <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-camera-retro"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Fotógrafa Freelancer</h2>
          <strong> Companhias de Teatro</strong>
           <p>
        Acompanhei as companhias  de Teatro Fora da Caixa, Honesta e Chá como fotógrafa freelancer. Veja meu trabalho como fotógrafa aqui.
             </p>
          <span class="cd-date"> 2011 - 2012 </span>
        </div> 
      </div>  
    
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-pencil-square-o"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Revista Vítreo </h2>
          <strong> Colunista Freelancer</strong>
           <p>
            Escrevi colunas sobre sociedade e comportamento na revista do DCE da Facamp. Veja alguns textos meus <a href="monicabulgari.github.io/static/img/vitreo-2011_4jul2011.pdf">aqui</a>.
             </p>
          <span class="cd-date"> 2009 - 2011 </span>
        </div> 
      </div>  
             
            <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-trophy"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> IELTS Acadêmico</h2>
          <strong> Nível B2</strong>
                 <span class="cd-date"> 2012 </span>
        </div> 
      </div>       
        <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-trophy"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Certificado Espanhol Expanish Argentina</h2>
          <strong> Nível B2</strong>
                 <span class="cd-date"> 2012 </span>
        </div> 
      </div>     
    
              
        <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-camera-retro"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Curso Livre de Fotografia - Facamp</h2>
                   <span class="cd-date"> 2010 - 2011</span>
        </div> 
     
    </div>     
     <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-film"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Academia Internacional de Cinema</h2>
          <strong> Curso: Correntes Cinematográficas</strong>
             <p>
               Principais linguagens, estéticas e temáticas das grandes correntes do cinema mundial, como o Neorrealismo italiano, a Nouvelle Vague, o Cinema Japonês, encerrando com uma análise sobre o cinema digital e como ele vem alterando drasticamente o modo de produção cinematográfica.
             </p>
                 <span class="cd-date"> 2010 - 2011</span>
        </div> 
      </div>
    
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-graduation-cap"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> VI Congresso Acadêmico sobre Defesa Nacional </h2>
                <p><i class="fa fa-map-marker"></i>Academia da Força Aérea - AFA / Pirassununga</p>
          <strong> Delegação da Facamp</strong>
           <p>
           Apresentamos o artigo "A Estratégia Nacional de Defesa do Brasil: uma comparação com a National Security Strategy (EUA)". 
             </p>
          <span class="cd-date"> 2009 </span>
        </div> 
      </div>  
    
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-handshake-o"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Congresso: 12th American Model United Nations - AMUN </h2>
                <p><i class="fa fa-map-marker"></i> Universidade de Brasília - UnB</p>
          <strong> Delegação da Facamp</strong>
           <p>
            Na segunda edição participante do AMUN, fui como Head Delegate da equipe da FACAMP, representando desta vez, a Bolívia. 
             </p>
          <span class="cd-date"> 2009 </span>
        </div> 
      </div>  
    
    
       <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-handshake-o"></i>
        </div> 
    
           <div class="cd-timeline-content">
          <h2> Congresso: 11th American Model United Nations - AMUN </h2>
                <p><i class="fa fa-map-marker"></i> Universidade de Brasília - UnB</p>
          <strong> Delegação da Facamp</strong>
           <p>
            O AMUN foi o pioneiro modelo de Nações Unidas no Brasil. Ele simula, a nível universitário, discussões de iversos órgãos da ONU e Comitês Históricos. Participei no Comitê de Desenvolvimento Sustentável, representando a África do Sul pela delegação da FACAMP no evento.
             </p>
          <span class="cd-date"> 2008 </span>
        </div> 
      </div>   
    
    
    
</div>

  </section>


