<div class="timeline">
  <h3>Timeline</h3>

  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-work">
        <i class="fa fa-flag"></i>
      </div>

      <div class="cd-timeline-content">
        <h2> Funeel Marketing B2B </h2>
        <strong>Redatora / Gerente de Contas</strong>
        <p><i class="fa fa-map-marker"></i> São Paulo / SP</p>
        <p>
          A Funeel é um time de Marketing especialiazado em B2B, criado em março de 2016. Entrei para a equipe praticamente em seu início, em outubro do mesmo ano, como redatora. Atualmente sou Gerente de Contas de clientes como Cubo (Itaú) e Porto Seguro. Sou responsável pela criação e planejamento de conteúdo digital; implementação da estratégia de SEO e definição do tom de voz, linguagem e posicionamento de marca destes clientes. Também produzo conteúdo específico para marketing digital B2B e traduzo conteúdos relevantes em inglês. Sou uma das editoras responsáveis pela manutenção do canal Beta Culture, em que compartilhamos esses conteúdos. 
          </p>
        <span class="cd-date">Out 2016 - Atualmente</span>
      </div> 
    </div> 

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-course">
        <i class="fa fa-book"></i>
      </div> 
      <div class="cd-timeline-content">
        <h2> Curso: Mestre SEO </h2>
        <p> Curso completo sobre técnicas, linguagens e práticas avançadas de SEO</p>
        <span class="cd-date">Ago 2017</span>
      </div> 
    </div> 

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-course">
          <i class="fa fa-book"></i>
        </div> 
        <div class="cd-timeline-content">
          <h2> Curso: Copywriting Secrets: How to Write Copy that Sells</h2>
          <p>
            Principais metodologias de redação publicitária aplicadas nos formatos digitais. Abordagens persuasivas em emails marketing, anúncios e artigos online. 
          </p>
          <span class="cd-date">Abr 2017</span>
        </div> 
      </div> 

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-book"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Secretaria da Cultura do Município de São Paulo </h2>
          <p> 
            <strong>Revisora e Tradutora</strong>
            Fui a responsável pela revisão do conteúdo em língua portuguesa e inglesa do livro "Centro de Memória do Circo", da instituição de mesmo nome. Também auxiliei algumas etapas do processo de tradução. O livro reúne a história e o catálogo do Centro de Memória do Circo, uma instituição fundada para preservar o legado cultural do circo brasileiro. 
          </p>
          <span class="cd-date">Nov 2016 - Mai 2017</span>
        </div> 
      </div> 

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-work">
        <i class="fa fa-university"></i>
      </div> 

      <div class="cd-timeline-content">
        <h2> Prefeitura Municipal de São Paulo </h2>
        <p> 
          <strong>Social Media</strong>
          <p><i class="fa fa-map-marker"></i> São Paulo / SP</p>
          <p>
          Fiz parte da equipe que administrava e produzia conteúdos para as páginas de redes sociais da Prefeitura de São Paulo na gestão Fernando Haddad. Realizava coberturas de eventos culturais (como Virada Cultural, aniversário da cidade e Parada Gay) e institucionais (como a cobertura de coletivas de imprensa e assinaturas de decretos) pelo Twitter. Eu também realizava o atendimento a munícipes por inbox: orientava e encaminhava as demandas para os respectivos órgãos públicos. A gestão Haddad que criou a página da Prefeitura no Facebook e Twitter.
        </p>
        <span class="cd-date">Dez 2015 - Out 2016</span>
      </div> 
    </div> 

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-graduation-cap"></i>
        </div> 
        <div class="cd-timeline-content">
          <h2> Mestrado em Linguística - UNICAMP </h2>
          <p>
            Fui pesquisadora da linha de Análise do Discurso dentro do Instituto de Estudos da Linguagem da Unicamp durante dois anos. Meu objeto de pesquisa era o discurso da sexualidade nas tirinhas da cartunista Larte. Levei meu trabalho para importantes eventos da área, como o Congresso Desfazendo Gênero, em 2015, e o Seminário de Pesquisa em História em Quadinhos, da Unifesp. Ao mesmo tempo, minha carreira profissional estava tomando outro rumo, focado na comunicação digital, por isso optei por trancar o curso neste momento.
          </p>
          <span class="cd-date">Fev 2015 - Mai 2017</span>
        </div> 
      </div> 

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-talk">
        <i class="fa fa-volume-up"></i>
      </div> 

      <div class="cd-timeline-content">
        <h2> Mediação da Mesa “Estigmas e Libertação: Violência contra a mulher, representação e empoderamento" - 1ª Mostra Mulheres e Cinema </h2>
        <p><i class="fa fa-map-marker"></i> Memorial da América Latina</p>
        <p>
          A convite da amiga Tarsila Nakamura, mediei o debate que contou com as documentaristas Lívia Perez (“Quem Matou Eloá”), Tarsila Nakamura (Atadas), Juily Manghirmalani (Viver de Mim) e as ativistas Camila Caringe e Marina Ganzarolli. Após a exibição dos documentários, discutimos sobre estereótipos, a culpabilização da mulher, a lei da violência doméstica e o papel da mídia neste cenário.</p>
        <span class="cd-date">Ago 2016</span>
      </div> 
    </div> 

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-talk">
        <i class="fa fa-volume-up"></i>
      </div> 

      <div class="cd-timeline-content">
        <h2> Social Media Week 2016 - Como não cometer Gafes sobre Gênero e Feminismo nas Redes Sociais </h2>
        <p>
          A ascensão da discussão sobre feminismo fez surgir uma preocupação da comunicação de marcas e personalidades no mundo digital. Selecionei casos, comentei posicionamentos e sugeri conselhos para mensagens assertivas em relação a esse assunto. O conteúdo foi muito bem recebido. Nesse texto eu conto tudo como foi aquele dia. 
        </p>
        <span class="cd-date">Set 2016</span>
      </div> 
    </div>
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-graduation-cap"></i>
        </div> 
        
        <div class="cd-timeline-content">
          <h2> Certificação Hubspot Inbound Marketing </h2>
          <p>
            A certificação de Inbound Marketing mais reconhecida do mercado. O curso me forneceu uma base importante nas principais noções de aplicabilidade da principal metodologia para atrair, converter e nutrir leads.
            <span class="cd-date"> Nov 2015</span>
        </div> 
   
    </div> 
         <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-graduation-cap"></i>
        </div> 
        
        <div class="cd-timeline-content">
            <h2> Certificação em Marketing de Conteúdo da Rock Content </h2>
          <p>
            A Rock Content é uma das principais referências em produção de conteúdo inbound do Brasil.
        </p>
            <span class="cd-date"> Nov 2015</span>
        </div> 
       </div> 
  
 
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-work">
          <i class="fa fa-book"></i>
        </div> 
  
        <div class="cd-timeline-content">
          <h2> Wise Up </h2>
          <strong>Professora de Inglês para todos os níveis</strong>
          <p>
            Fui professora em tempo integral da Wise Up Barão Geraldo, uma escola de inglês para adultos com método blended learning - que mescla o aprendizado na sala de aula com exercícios e tutoria online.  
          </p>
          <span class="cd-date">Out 2014 - Out 2015</span>
        </div> 
      </div> 
  
</div>

  </section>


